.calculator{
    width:440px;
    height: 550px;
    margin: auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    background-color: #35363b;
}
input[type="text"]{
    grid-column: 1/4;
    font-size: 40px;
    border-radius: 5px;
    color: #000;
}
.btn{
    font-size: large;
    border-radius: 5px;
    background-color: #c3c6c7;;
}
body{
    background-image: url("back-image.jpg");
    background-size: cover;
}